@import "../../../global.scss";
.secondary-filled {
  @include body-txt("Work Sans");
  @include base-btn;
  border: 0;
  background-color: $accent;
}
.secondary-outlined {
  @include body-txt("Work Sans");
  @include base-btn;
  background-color: $primary-bg;
  border: 2px solid $accent;
}
