@import "../../../global.scss";

.category-container {
  display: flex;
  flex-flow: row wrap;
  gap: 3.5rem;
  justify-content: center;
}
.category-card {
  border-radius: 7%;
  background-color: #3b3b3b;
  border-color: none;
  max-width: 136px;
  max-height: 210px;
  @include for-size(desktop-up) {
    max-width: 240px;
    max-height: 310px;
  }
  img {
    max-width: 136px;
    max-height: 210px;
    @include for-size(desktop-up) {
      max-width: 240px;
      max-height: 310px;
    }
  }
  h3 {
    padding: 1rem;
    margin: 0;
    @include body-txt("Work Sans");
    font-weight: 600;
    @include for-size(desktop-up) {
      @include h5-txt("Work Sans");
    }
  }
}
.categories {
  padding: 1rem;
  margin-bottom: 3rem;
  @include for-size(tablet-portrait-up) {
    padding: 2rem;
  }
  @include for-size(phone-only) {
    h2 {
      @include h3-txt("Work Sans");
    }
  }
}
