@import "../../../global.scss";
footer {
  background-color: #3b3b3b;
  h3 {
    @include h3-txt("Space Mono");
  }
  .about {
    display: grid;
    gap: 2rem;
    background: $secondary-bg;
    margin: auto;
    padding: 1.5rem;
    max-width: 1280px;
    @include for-size(desktop-up) {
      grid-template-columns: repeat(3, 1fr);
    }
    span {
      @include body-txt("Work Sans");
      color: #cccccc;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      span {
        padding: 0 0.25rem;
      }
      a {
        color: #cccccc;
        text-decoration: none;
        @include body-txt("Work Sans");
      }
    }
  }
}
.marketplace {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  img {
    width: 10%;
    @include for-size(tablet-portrait-up) {
      width: 5%;
    }
  }
}
.socials {
  padding: 0 0.15rem;
  max-width: 32px;
  max-height: 32px;
}
