@import "../../../global.scss";

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-items: center;
  padding: 1rem;
  margin: 1.5rem auto;
  align-items: center;
  p {
    @include h5-txt("Work Sans");
  }
  @include for-size(tablet-portrait-up) {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    margin: 0;
    h1 {
      @include h2-txt("Work Sans");
    }
    p {
      @include body-txt("Work Sans");
    }
  }
  @include for-size(phone-only) {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    position: relative;
    padding-bottom: 13rem;
    h1 {
      @include h2-txt("Work Sans");
    }
    p {
      @include body-txt("Work Sans");
    }
  }
  .site-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    span {
      @include h5-txt("Space Mono");
    }
    div {
      @include body-txt("Work Sans");
    }
    @include for-size(phone-only) {
      grid-column-gap: 2.7rem;
    }
  }
}
@include for-size(phone-only) {
  .hero-btn-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 630px;
    right: 42px;
    z-index: 1;
  }
}
.nft-card {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: $secondary-bg;
  border-radius: $border-raidus;
  @include for-size(tablet-portrait-up) {
    width: 45%;
  }
  @include for-size(phone-only) {
    width: 85%;
    max-width: 315px;
  }
  div {
    padding: 0 1rem;
    display: inline-flex;
    flex-direction: row;
    img {
      max-width: 24px;
      max-height: 24px;
    }
  }
  h2 {
    @include h4-txt("Work Sans");
    margin: 0;
    padding: 0.5rem 1rem;
  }
  h3 {
    @include body-txt("Work Sans");
    padding: 0 1rem 1rem 1rem;
    margin: 0;
  }
}
