@import "../../../global.scss";
.sign-up-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  h1 {
    @include heading;
    margin: 0;
  }
  h2 {
    @include subheading;
    margin: 0;
  }
}
.sign-up-main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  .account-banner {
    position: relative;
    right: 120px;
  }
}
