@import "./global.scss";
:root {
  font-family: "Work Sans", "Space Mono", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $primary-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::placeholder {
  color: $primary-bg;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $primary-bg;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $primary-bg;
}
body {
  margin: 0;
}
h2 {
  @include h2-txt("Work Sans");
}
h3 {
  @include h3-txt("Work Sans");
}
main {
  max-width: 1280px;
  margin: auto;
}
